$up-part-height: 70px;

body{
    font-family: arial,sans-serif;
}
td, th{
    text-align: center;
}
a{
    color: inherit;
    text-decoration: inherit;
}
img{
    border-radius: 20%;
    width: 60px;
} 
small{
    font-size: 67%;
}

// Upper_Part 

.up{
    height: 100px;
}

.g-link{
    position: inherit;
    margin: 5px;//----------------------1
    img{
        width: 40px;
    }
}
.oth-link{
    position: absolute;
    margin: 5px;//----------------------1
    top: 0;
    right: 0;
}
.left-link{
    border-right: solid 10px rgba(16, 08, 2006, 0);
}


//Form_part
.form{
    position: relative;//---------------------2
    left: 10%;
    width: 80%;
    height: 30%;
}
.form-head{
    display: flex;
    justify-content: center;
    position: relative;//---------------------2
    left: 10%;
    width: 80%;
    h1{
        font-size: 100px;
        letter-spacing: 2px;
        font-weight: 100;
    }
    h1:nth-child(1){
        color: #1a73e8;
    }
    h1:nth-child(2){
        color: #c5221f;
    }
    h1:nth-child(3){
        color: #fbbc05;
    }
    h1:nth-child(4){
        color: #4285f4;
    }
    h1:nth-child(5){
        color: #34a853;
    }
    h1:nth-child(6){
        color: #ea4335;
    }
    p{
        color: #ffe4b2;
    }
}
.form-input{
    height: 50px;
    width: 80%;
    left: 10%;
    position: relative;//---------------------2
    
    border-radius: 50px;
    border: solid 2px#ababab1a;
    outline: none;
    font-size: 16px;
}
.apply-buttons{
    display: flex;
    justify-content: space-evenly;
}
.sub-but{
	background-color: #f8f9fa;//------------------3
    border: 1px solid #f8f9fa;//------------------3
    border-radius: 4px;
    font-size: 14px;
    margin: 11px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    
}
.sub-but:hover{
    box-shadow: 0 1px 1px grey;
    border: 1px solid #dadce0;
}